<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>City Weather </h2>
<button [routerLink]="['/seattle']" class="btn btn-primary">Seattle, WA</button>
<button [routerLink]="['/sanJose']" class="btn btn-success">San Jose, CA</button>
<button [routerLink]="['/burbank']" class="btn btn-warning">BurBank, CA</button>
<button [routerLink]="['/dallas']" class="btn btn-danger">Dallas, TX</button>
<button [routerLink]="['/washington']" class="btn btn-info">Washington, D.C.</button>
<button [routerLink]="['/chicago']" class="btn btn-secondary">Chicago, IL</button> 
<button [routerLink]="['/']" class="btn btn-dark">Home</button> 



<router-outlet></router-outlet> 
